<form [formGroup]="form" (ngSubmit)="submit()" class="max-w-4xl mx-auto p-8 bg-white shadow-xl rounded-2xl space-y-8">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Nome Completo <span style="color: red;">*</span></label>
            <input type="text" formControlName="nome" class="input-style" placeholder="Digite o nome completo"
                required="Este campo é Obrigatório" />
        </div>
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Email <span style="color: red;">*</span></label>
            <input type="email" formControlName="email" class="input-style" placeholder="exemplo@email.com"
                required="Este campo é Obrigatório" />
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Telefone <span style="color: red;">*</span></label>
            <input type="tel" formControlName="telefone" class="input-style" placeholder="Telefone principal"
                maxlength="9" required="Este campo é Obrigatório" />
        </div>
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Telefone Alternativo</label>
            <input type="tel" formControlName="telefoneAlternativo" class="input-style" placeholder="Outro telefone"
                maxlength="9" />
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Idade</label>
            <!-- <input type="number" formControlName="idade" class="input-style" placeholder="Sua idade" /> -->
            <input type="number" formControlName="idade" class="input-style" placeholder="Sua idade" readonly />

        </div>
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Data de Nascimento <span
                    style="color: red;">*</span></label>
            <input type="date" formControlName="dataNascimento" class="input-style"
                required="Este campo é Obrigatório" />
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Nº do BI <span style="color: red;">*</span></label>
            <input type="text" formControlName="bi" class="input-style" placeholder="Número do BI"
                required="Este campo é Obrigatório" maxlength="13" />
        </div>
        <div class="flex flex-col">
            <label class="mb-1 font-semibold text-gray-700">Estado Civil <span style="color: red;">*</span></label>
            <select formControlName="estadoCivil" class="input-style" required="Este Campo é Obrigatório">
                <option value="">Selecione</option>
                <option value="SINGLE">Solteiro(a)</option>
                <option value="MARRIED">Casado(a)</option>
                <option value="DIVORCED">Divorciado(a)</option>
            </select>
        </div>
    </div>

    <div class="flex items-center space-x-2">
        <input type="checkbox" formControlName="temFilhos" class="h-4 w-4 text-indigo-600 border-gray-300 rounded" />
        <label class="text-gray-700">Possui filhos?</label>
    </div>

    <div class="flex flex-col">
        <label class="mb-1 font-semibold text-gray-700">Endereço <span style="color: red;">*</span></label>
        <input type="text" formControlName="endereco" class="input-style" placeholder="Rua, Bairro, Município"
            required="Este campo é Obrigatório" />
    </div>

    <div class="flex flex-col">
        <label class="mb-1 font-semibold text-gray-700">Doenças Conhecidas</label>
        <input type="text" formControlName="doencasConhecidas" class="input-style" placeholder="Liste as doenças" />
    </div>

    <div class="flex flex-col">
        <label class="mb-2 font-semibold text-gray-700">Posição Desejada <span style="color: red;">*</span></label>
        <ng-container *ngIf="specialties?.length; else loading">
            <div *ngFor="let spec of specialties" class="flex items-center space-x-2 mb-1">
                <input type="checkbox" [value]="spec.id" (change)="toggleCheck('posicaoDesejada', $event)"
                    class="h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                <span class="text-gray-700">{{ spec.name }}</span>
            </div>
        </ng-container>
        <ng-template #loading>
            <p class="text-sm text-gray-500 italic">Carregando opções...</p>
        </ng-template>
    </div>

    <div class="flex flex-col mb-4">
        <label for="cityId" class="mb-2 font-semibold text-gray-700">
            Cidade <span style="color: red;">*</span>
        </label>
        <select id="cityId" formControlName="cityId"
            class="border rounded p-2 text-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            <option value="">Selecione uma cidade</option>
            <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
        </select>
    </div>

    <div class="flex flex-col mb-4">
        <label for="districtId" class="mb-2 font-semibold text-gray-700">
            Distrito <span style="color: red;">*</span>
        </label>
        <select id="districtId" formControlName="districtId"
            class="border rounded p-2 text-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            <option value="">Selecione um distrito</option>
            <option *ngFor="let dist of distrity" [value]="dist.id">{{ dist.name }}</option>
        </select>
    </div>

    <div class="flex flex-col">
        <label class="mb-2 font-semibold text-gray-700">Idiomas</label>
        <div class="flex flex-wrap gap-6">
            <label class="flex items-center space-x-2">
                <input type="checkbox" value="Português" (change)="toggleCheck('idiomas', $event)"
                    class="h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                <span>Português</span>
            </label>
            <label class="flex items-center space-x-2">
                <input type="checkbox" value="Inglês" (change)="toggleCheck('idiomas', $event)"
                    class="h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                <span>Inglês</span>
            </label>
            <label class="flex items-center space-x-2">
                <input type="checkbox" value="Francês" (change)="toggleCheck('idiomas', $event)"
                    class="h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                <span>Francês</span>
            </label>
        </div>
    </div>

    <div class="flex flex-col">
        <label class="mb-1 font-semibold text-gray-700">Experiência Profissional</label>
        <textarea formControlName="experiencia" class="input-style h-64 resize-y placeholder-gray-400"
            placeholder="Descreva brevemente sua experiência profissional, cargos ocupados, tempo, empresas etc."
            required="Este campo é Obrigatório"></textarea>
    </div>

    <div class="flex flex-col">
        <label class="mb-1 font-semibold text-gray-700">Escolaridade <span style="color: red;">*</span></label>
        <select formControlName="escolaridade" class="input-style">
            <option value="">Selecione</option>
            <option value="nenhuma">Nenhuma</option>
            <option value="base">Ensino de Base</option>
            <option value="medio">Ensino Médio</option>
            <option value="superior">Ensino Superior</option>
            <option value="outros">Outros</option>
        </select>
    </div>

    <div *ngIf="escolaridadeSelecionada === 'base'" class="flex flex-col mt-2">
        <label class="mb-1 font-semibold text-gray-700">Classe</label>
        <select class="input-style" (change)="onClasseSelecionada($event)">
            <option value="">Selecione a classe</option>
            <option *ngFor="let classe of baseClasses" [value]="classe">{{ classe }}</option>
        </select>
    </div>

    <div *ngIf="escolaridadeSelecionada !== 'base' && escolaridadeSelecionada" class="flex flex-col mt-2">
        <label class="mb-1 font-semibold text-gray-700">Nome do Curso</label>
        <input type="text" class="input-style" placeholder="Ex: Contabilidade, Direito"
            [formControl]="cursoFormControl" />
    </div>


    <div class="flex flex-col">
        <label class="mb-1 font-semibold text-gray-700">Qualidades (separe com vírgulas)</label>
        <input type="text" formControlName="qualidades" class="input-style" placeholder="Ex: Comunicativo, Proativo" />
    </div>

    <div class="flex flex-col">
        <label class="mb-1 font-semibold text-gray-700">Disponibilidade <span style="color: red;">*</span></label>
        <select formControlName="disponibilidade" class="input-style" required="Este campo é Obrigatório">
            <option value="">Selecione</option>
            <option>Tempo Integral</option>
            <option>Meio Período - Manhã</option>
            <option>Meio Período - Tarde</option>
            <option>Diária</option>
            <option>Fins de Semana</option>
            <option>Noturno</option>
        </select>
    </div>

    <div>
        <button type="submit"
            class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition duration-300 ease-in-out">
            Enviar Candidatura
        </button>
    </div>
</form>